.circel {
  width: fit-content;
  padding: 0.7rem;
  font-size: 1.75rem;
  font-weight: 600;
  border-radius: 1.25rem;
  transition: all 0.3s ease;
  color: black;
  transition: ease-in-out 0.3s;

}

@media (min-width: 768px) {
  .special-circel {
    width: fit-content;
    font-size: 1rem;
  }
}

.circel:hover {
  background-color: black;
  color: white;
}
