@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btn-active{
 @apply bg-clr-bg;
 @apply border-2;
 @apply border-gray-400;
 @apply text-black;
 @apply py-[0.7rem];
 @apply rounded-md;
 @apply text-sm;
 @apply text-center;
 @apply flex;
 @apply font-bold;
 @apply px-5;

}


@media screen and (max-width:400px) {
  .btn-active{
    @apply px-4;
    @apply h-[3rem];
    @apply text-[0.7rem];
    @apply text-black;

   }
} */

/* .btn{
 @apply bg-transparent;
 @apply border-2;
 @apply border-transparent;
 @apply duration-700;
 @apply h-fit;
 @apply mx-2;
 @apply shadow-none;

}

.btn:hover{
 @apply border-2;
 @apply border-gray-500;
 @apply duration-700;
 @apply bg-transparent;
}

@media screen and (max-width:400px) {
  .btn{
    @apply px-4;
    @apply h-[0.5rem];
    @apply text-[0.7rem];

   }
} */


.list {
  font-weight: 500;
  transition: ease-in-out 0.3s;
}

.list:hover {
  text-decoration: underline;
}

.text_strok_i {
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1.5px;
color: black;
}

